.calculadora {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculadora .forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid var(--pv-main-color);
    padding: 24px 12px 12px 12px;
    border-radius: 4px;
    margin-bottom: 32px;
}
.calculadora .forms .form-control {
    display: flex;
    flex-direction: column;
    min-width: 100%;
}
.calculadora .forms label {
    color: var(--pv-secondary-color);
}
.calculadora .forms .form-control > div {
    display: flex;
    color: var(--pv-secondary-color);
}
.calculadora .forms .form-control > div span {
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    background: var(--pv-main-color);
}

.calculadora .forms .form-control input {
    height: 40px;
    flex: 1;
    padding: 12px;
    margin: 0 6px;
    margin-bottom: 12px;
    border: none;
    border-radius: 4px;
    border: 1px solid var(--pv-main-color);
    background-color: var(--pv-terciary-color);
}
.calculadora .forms .form-control input:focus {
    border: none;
    border: 1px solid var(--pv-main-color);
    outline: none;
}
.calculadora .forms .progressDiv {
    width: 100%;
    margin: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.calculadora .forms .progressDiv .calc {
    width: 100%;
    flex: 1;
    padding: 12px 0;
    font-weight: 600;
    color: var(--pv-secondary-color);
    text-align: center;
    display: flex;
    font-size: 14px;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--pv-main-color);
}
.calculadora .forms .error {
    color: var(--warning-color);
    font-size: 12px;
    font-weight: bold;
    transform: translateY(-8px) translateX(12px)
}
.calculadora .alert {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: var(--warning-color);
}
.calculadora h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 12px 0;
    color: var(--warning-color);
}
.calculadora .result {
    transition: 500ms;
    animation: jump infinite 2s;
}
@keyframes jump {
    0%, 100% {
        transition: 500ms;
        transform: scale(1);
    }
    50% {
        transition: 500ms;
        transform: scale(1.1)
    }
}
@media (max-width: 360px) {
    .calc {
        font-size: 13px!important
    }
}