.template {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    overflow: hidden;
}
@media (min-width: 920px) {
    .template {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}