.aside {
    padding-top: 80px;
}
.aside ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
}
.aside h4 {
    color: var(--neutral);
    font-weight: 00;
    text-transform: uppercase;
    font-size: 12px;
}
.aside h4 span {
    display: none;
}
@media (max-width: 500px) {
    .aside {
        width: 100%;
        max-width: 350px;
        position: relative;
        padding: 48px 0 0 24px;
        /* padding-top: 48px; */
    }
    .aside h4 span {
        display: inline-block;
        margin-left: 12px;
        font-weight: 400;
        text-transform: lowercase;
    }
    .aside ul {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        flex-direction: row;
    }
    .aside h4 {
        position: absolute;
        transform: translateY(-20px);
    }
}
@media (max-width: 350px) {
    .aside {
        max-width: 320px;
    }
}