:root {
  --main-color: #808080;
  --main2-color: #41ad49;
  --secondary-color: #fff;
  --terciary-color: #F1F1F1;
  --quartenary-color: #ED8428;
  --bg-color: #040A25;
  --warning-color: #D00101
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Serif 4', serif!important;
}
html{scroll-behavior: smooth;}
p {
  font-weight: 300;
}
p span.strong {
  font-weight: bold;
}
.dropdownActived {
  position: relative!important;
  opacity: 1!important;
  z-index: 1!important;
  transition: 500ms;
}