:root {
  --main-color: #ED8428;
  --secondary-color: #fff;
  --terciary-color: #F1F1F1;
  --bg-color: #040A25;
  --warning-color: #D00101
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
p span.strong {
  font-weight: bold;
}
.dropdownActived {
  position: relative!important;
  opacity: 1!important;
  z-index: 1!important;
  transition: 500ms;
}