.header {
    position: relative;
    padding: 12px;
    padding-top: 72px;
    margin-bottom: 56px;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 50%;
    background: var(--main-color);
    z-index: 1;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 100%;
    background: var(--secondary-color);
}