.subtitle {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--neutral);
    margin-top: 12px;
}
.subtitle p {
    max-width: 600px;
}
.left {
    justify-content: flex-start;
    text-align: left;
}
@media (max-width: 500px) {
    .subtitle {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .subtitle p {
        text-align: justify;
    }
}