.section {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 12px;
}
.section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section.pd {
    padding: 24px;
}
.section.bg {
    background: var(--main-color);
}
.section.top {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: 56px;
}
.section.pdt {
    padding-top: 56px;
}
@media (min-width: 920px) {
    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .content {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bg {
        width: 100%!important;
    }
    .flex .content {
        display: flex;
        flex-direction: row-reverse;
    }
}