.home-screen {
    overflow: hidden;
}
.flex {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.map {
    display: flex;
    gap: 38px;
    padding: 24px;
    margin-top: 24px;
    border-radius: 4px;
}
.map > div {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.map iframe {
    width: 70%;
    height: 320px;
    box-shadow: 0 0 1px var(--link-color);
    border: 10px solid var(--main2-color);
}
.btn {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn a {
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 4px;
    font-size: 20px;
    background-color: var(--link-color);
}
.border {
    max-width: 600px;
    padding: 24px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    /* justify-content: flex-start; */
    border-radius: 2px;
}
.map {
    width: 360px;
}
.map-span {
    margin-top: -24px;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin-top: 44px;
}
.home-screen .ul {
    list-style: circle;
    padding-left: 24px;
    max-width: 400px;
}
.home-screen .ul li {
    font-size: 20px;
}
.home-screen .span {
    margin-bottom: 24px;
    margin-top: 48px;
}
.home-screen .hero {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 4px;
}
.home-screen .hero p {
    max-width: 400px;
    font-size: 20px;
    font-weight: 400;
}
.home-screen .hero img {
    border-radius: 4px;
}
@media (max-width: 500px) {
    .map-span {
        margin-top: 0;
    }
    .map {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 24px;
        gap: 12px;
        padding: 0;
    }
    .minus {
        margin-top: -36px;
    }
    .map iframe {
        width: 100%;
    }
    .home-screen .span {
        margin-bottom: -24px;
        margin-top: -24px;
    }
    .home-screen .hero {
        flex-direction: column;
        margin-top: -24px;
    }
    .home-screen .hero p {
        max-width: 400px;
        font-size: 20px;
        font-weight: 400;
    }
    .home-screen .hero img {
        border-radius: 4px;
    }
}
@media (max-width: 360px) {
    .map {
        width: 300px;
    }
}