.alertDiv {
    width: 320px;
    height: 100%;
    border-radius: 4px;
}
.alertDiv .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    font-size: 18px;
    color: var(--pv-secondary-color);
    font-family: 'Lato', sans-serif;
    background: var(--warning-color);
    border-radius: 4px;
}
.alertDiv h3 {
    font-weight: bolder;
    color: var(--bg-color);
    padding: 18px;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.alertDiv img {
    width: 100%;
}
@media (min-width: 962px) {
    .alertDiv {
        width: 600px;
    }
}